.item {
    height: 250px;
    max-width: 250px;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin: auto;
    }

.itemsList {
    list-style-type: none;
}

.figCaption {
    text-align: center;
    }

.image {
    border: solid 1px #1798c1;
    border-radius: 50%;
    padding: 1em;
    height: 200px;
    width: 200px;
}
